{%extends 'base.html' %}
{%load student_filter %}
{%block content%}
<div class="">
    <table class="table table-bordered active">
        <thead class="text-center">
            <tr class="active">
                <th>번호</th>
                <th>이름</th>
                <th>성별</th>
                <th>생년월일</th>
                <th>학교</th>
                <th>학년</th>
                <th>레벨</th>
                <th>등록일</th>
                <th>마감일</th>
                <th>번호</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {%if student_list%}
            {% for student in student_list %}
            <tr>
                <td> {{ student_list.paginator.count|sub:student_list.start_index|sub:forloop.counter0|add:1 }}</td>
                <td><a href="{% url 'student:detail' student.id %}">{{student.name}}</a></td>
                <td>{{student.gender}}</td>
                <td>{{student.birth}}</td>
                <td>{{student.school}}</td>
                <td>{{student.grade}}학년</td>
                <td>LV. {{student.level}}</td>
                <td>{{student.create_date}}</td>
                <td>{{student.end_date}}</td>
                <td>{{student.phone}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">학생이 없습니다.</td>
            </tr>
            {%endif%}
        </tbody>
    </table>
    <!-- pagination 구현 하기 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="?page=1"
                    aria-disabled="true"> << </a>
            </li>
            {%if student_list.has_previous%}
            <li class="page-item">
                <a class="page-link" href="?page={{student_list.previous_page_number}}"
                    aria-disabled="true">이전</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" tabindex='-1' aria-disabled="true">이전</a>
            </li>
            {%endif%}
            
            {% for page_number in student_list.paginator.page_range %}
            {% if page_number >= student_list.number|add:-3 and page_number <= student_list.number|add:3 %}
                {%if page_number == student_list.number%}
                    <li class="page-item active"><a class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
                {%else%}
                    <li class="page-item "><a class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
                {%endif%}
            {% endif %}
            {% endfor %}
            
            {%if student_list.has_next%}
            <li class="page-item">
                <a class="page-link" href="?page={{student_list.next_page_number}}">다음</a>
            </li>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link" href="#">다음</a>
            </li>
            {%endif%}
            {%if student_list.has_next%}
            <li class="page-item">
                <a class="page-link" href="?page={{student_list.paginator.num_pages}}"
                    aria-disabled="true"> >> </a>
            </li>
            {%endif%}
        </ul>
    </nav>

</div>
{%endblock%}