{%extends 'base.html' %}
{%block content%}
<style>
    textarea {
        height: 200px;
        
    }
    .container{
        border: 1px solid black;
        height: 712px;
    }
    .button{
        height: 40px;
    }
</style>
<div class="container my-3" id="box">
    <div class='row'>
        <div class="head col-md-12" style="justify-content: center;">
            <h1 style="text-align: center;">{{student.name}}</h1>
        </div>
    </div>
    <div class=" button row" style="justify-content:flex-end;">
        <div class="modify">
            <a href="#" class="btn btn-secondary btn-sm" role="button">수정</a>
            <a href="#" class="btn btn-danger btn-sm" role="button">삭제</a>
        </div>
    </div>
<div class="row" style="justify-content: center;">
    <div class="card" style="width:30rem;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">General Information</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">학교: {{student.school}}</li>
            <li class="list-group-item">학년: {{student.grade}}학년</li>
            <li class="list-group-item">기간: {{student.create_date}}~{{student.end_date}}</li>
        </ul>
    </div>
    {%for course in student.course_set.all%}
    <div class="card" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Course Detail</h5>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">course: {{course.main}}</li>
            <li class="list-group-item">Library: {{course.library}}</li>
            <li class="list-group-item">Voca+Library: {{course.voca_library}}</li>
            <li class="list-group-item">Count: {{course.count}}</li>

        </ul>
    </div>
</div>
<h1 style="text-align: center;">특이사항</h1>
<div class="row" style="justify-content: center;">
    <textarea {% if not user.is_authenticated %}disabled{% endif %} id="textarea" disabled
        style="width: 100%;">{{course.content}}</textarea>
</div>
{%endfor%}
</div>
{%endblock%}