{%load static%}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <title>backoffice</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- 리스트 : 부트스트랩은 모바일 우선이라 화면이 작으면 아래로 쌓아서 내려온다 -->
        <a class="navbar-brand" href="{% url 'index'%}">Home</a>
        {% if user.is_authenticated %}
        <ul class="navbar-nav navbar-dark">
            <li class="nav-item active"> <a class="nav-link" href="">직원관리</a> </li>
            <li class="nav-item active"> <a class="nav-link" href="{% url 'student:list'%}">학생관리</a> </li>
        </ul>
        {%else%}
        <ul class="navbar-nav navbar-dark">
            <li class="nav-item active"> <a class="nav-link" href="" id="open" onclick="javascript:btn()">직원관리</a></li>
            <li class="nav-item active"> <a class="nav-link" href="" id="open" onclick="javascript:btn()">학생관리</a> </li>
        </ul>
        <script>
            function btn() {
                alert('로그인 후 사용가능합니다.')
            }
        </script>
        {%endif%}
        {% if user.is_authenticated %}
        <ul class="navbar-nav  ml-auto ">
            <li class="nav-item active"> <a class="nav-link" href="{%url 'logout'%}">{{user.username}} (로그아웃)</a>
            <li class="nav-item active"> <a class="nav-link" href="{%url 'student:create'%}">학생등록</a>
            </li>
            <!-- <li class="nav-item active"> <a class="nav-link" >관리자: {{user.username}}</a> </li> -->
        </ul>
        {%else%}
        <ul class="navbar-nav  ml-auto ">
            <li class="nav-item active"> <a class="nav-link" href="{%url 'login'%}">로그인</a> </li>
            <li class="nav-item active"> <a class="nav-link" href="{%url 'signup'%}">회원가입</a> </li>
        </ul>
        {%endif%}
    </nav>
    {%block content%}
    {%endblock%}
    <footer class="text-center text-white fixed-bottom" style="background-color:#343a40;">
        <div class="footer-copyright text-center py-3">© 2021 Copyright: rockjeon
        </div>
    </footer>
    
    <script src="{% static 'jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    {%block script%}
    {%endblock%}
</body>

</html>